<!-- <h2>This is what we think you want <%= @hash[:pods]["Input interpretation"] %></h2> -->


<%= @hash %>

<% @hash.each_pair do |key, value| %>
  <h3><%= key %></h3>
	  <ul>
	    <% if !value.nil? %>
	      <% value.each do |key, value| %>
	        <h4><%= key %></h4>
	        <ul>
	          <% value.each do |value| %>
	        	<li><%= value %></li>
	          <% end %>
	       </ul>
	      <% end %>
	    <% end %>
	  </ul>
<% end %>